.hobby-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hobby-card {
    width: 180px;
}

.hobby-card-image {
    width: 170px;
    padding: 10px;
}

.hobby-card-title {
    padding: 10px;
    color: #FFFFFF;
}

.hobby-card-desc {
    padding: 10px;
}