#skills .header-col h1:before {
    font-size: 66px;
    line-height: 66px;
}

#skills {
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 30px;
}

#skills h1 {
    font: 22px 'monospace', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    /*text-align: center;*/
    margin-bottom: 48px;
    color: #000000;
}

.skills-heading {
    font: 24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    /*letter-spacing: 1px;*/
    text-align: center;
    /*margin-bottom: 48px;*/
    color: #050758;
}

.my-skills {
    display: flex;
    flex-direction: column;
}

.skill-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ffffff;
}

.skill-card {
    width: 160px;
    display: block;
}

.skill-card-image {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.skill-row {
    max-width: 1520px;
    margin: 0 auto;
}

hr.rounded {
    width: inherit;
    border-top: 2px solid #bbb;
    border-radius: 5px;
}

.zoom-tooltip {
    transition: transform .2s;
}

.zoom-tooltip:hover .skill-card-title {
    visibility: visible;
}

.zoom-tooltip:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.zoom-tooltip .skill-card-title {
    visibility: hidden;
    width: 80px;
    background-color: #050758;
    color: #fff;
    font: 14px 'opensans-bold', sans-serif;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

