#skills .header-col h1:before {
    font-size: 66px;
    line-height: 66px;
}

#skills {
    background: #1F1F1F;
    padding-top: 90px;
    padding-bottom: 60px;
}

#skills h1 {
    font: 15px/24px 'opensans-semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #95A3A3;
}

#skills-heading {
    font: 24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #FFFFFF;
}

/*#skills-wrapper .columns { margin-bottom: 36px; }*/

.my-skills {
    display: flex;
    flex-direction: column;
}

.skill-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-card {
    width: 170px;
}

.skill-card-image {
    width: 160px;
    height: 160px;
    padding: 10px;
}

.skill-card-title {
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
}